/.idea/
/target/
/build/target/
/teamcity-kotlin-trigger-remote/src/compiled/*.jar
/teamcity-kotlin-trigger-common/target/
/teamcity-kotlin-trigger-remote/target/
/teamcity-kotlin-trigger-server/target/
*.iml
/triggers/
